@import './base/reset';

html {
  font-size: 16px;
  /* 默认字体大小 */
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 17px;
    /* 针对屏幕宽度小于1200px的字体大小 */
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
    /* 针对屏幕宽度小于768px的字体大小 */
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 18px;
    /* 针对屏幕宽度小于480px的字体大小 */
  }
}